.github
.venv
htmlcov/
json
tests
.coverage
.env.example
.gitignore
notes.md
.python-version
README.md
.env
pyproject.toml
.pytest_cache/
.ruff_cache/
.git/
__pycache__
*.pyc
.mypy_cache
uv.lock
locustfile.py
.vscode/
data/
.idea/
docs/
zensical.toml
.github/
.cache/
backend/tests/
site/
nginx.conf