POSTGRES_DB="vagas-db"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_HOST="vagas-db"
POSTGRES_PORT="5432"

DATABASE_URL="postgresql+psycopg://postgres:password@vagas-db:5432/vagas-db"

# App
INTERVAL_SYNC="30" # Intervalo de sincronização em minutos

# Telegram
TELEGRAM_BOT_TOKEN="TOKEN"
TELEGRAM_CHAT_ID="CHAT-ID"
