POSTGRES_DB="vagas-db"
POSTGRES_USER="postgres"
POSTGRES_PASSWORD="password"
POSTGRES_HOST="vagas-db"
POSTGRES_PORT="5432"

DATABASE_URL="postgresql+psycopg://postgres:password@vagas-db:5432/vagas-db"

# App
INTERVAL_SYNC="30" # Intervalo de sincronização em minutos

# Telegram
TELEGRAM_BOT_TOKEN="TELEGRAM-TOKEN"
TELEGRAM_CHAT_ID="CHAT-ID"
TELEGRAM_PYTHON_TOPIC_ID="3"
TELEGRAM_JAVA_TOPIC_ID="4"
TELEGRAM_GOLANG_TOPIC_ID="5"
TELEGRAM_FRONTEND_TOPIC_ID="6"
TELEGRAM_BACKEND_TOPIC_ID="7"

# Discord
DISCORD_BOT_ID="BOT-ID"
DISCORD_TOKEN="DISCORD-TOKEN"
DISCORD_GUILD_ID="GUILD-ID"
DISCORD_PYTHON_CHANNEL_ID=""
DISCORD_JAVA_CHANNEL_ID=""
DISCORD_GOLANG_CHANNEL_ID=""
DISCORD_FRONTEND_CHANNEL_ID=""
DISCORD_BACKEND_CHANNEL_ID=""